:root{
    --backgound: rgb(234, 202, 207);
}

.hidden {
    display: none;
}

* {
    background-color: var(--backgound);
}

section {
    display: block;
    justify-content: center;
    align-content: center;
    justify-content: center; 
    text-align: center;
    padding: 2em;
    margin: 2em;
    height: 500px;
    background-color: var(--backgound);
    border: 3px dashed white;
    border-radius: 100px;
}

#time {
    background-image: url(https://user-images.githubusercontent.com/113512061/193527421-ebc33d2c-ae59-4dc7-8084-2e8bf249e1f2.png);
    background-repeat: no-repeat;
    border-radius: 300px;
    width: 180px;
    height: 180px;
    font-size: 20px;
    text-align: center;
    
}

#choice-1 {
    width: 60px;
    height: 30px;
    font-size: 20px;
    align-items: center;
}
#choice-2 {
    width: 60px;
    height: 30px;
    font-size: 20px;
    align-items: center;
}
#choice-3 {
    width: 60px;
    height: 30px;
    font-size: 20px;
    align-items: center;
}
#choice-4 {
    width: 60px;
    height: 30px;
    font-size: 20px;
    align-items: center;
}